page-friends {
    background: color($colors, primary);
    .show{
        opacity: 1;
        transition: opacity 1s;
    }.hide{
        opacity: 0;
        transition: opacity 1s;
    }.following{
        background-color: color($colors, secondary);
    }.not-following{
        background-color: color($colors, primary);
    }



}
