page-profile {
    .profileHeader{
        background: cadetblue;
        .profileImage{
            display: -webkit-flex;
            height: 50%;
            width: 50%;
            padding-top: 2%;
            padding-bottom: 2%;
            margin-left: 25%;
        }
    }
}
