page-profile {
    ion-grid{
        background: rgb(163, 202, 228);
        margin: 0%;
        padding: 0%;
    }
    ion-scroll[scrollX] {
        padding: auto;
        margin: auto;
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        line-height: 0%;
        }
    }ion-avatar{
        padding: 0%;
        display: block;
        // margin-left: auto;
        // margin-right: auto;
    }ion-avatar[avatar]{
        height: auto;
        width: auto;
    }.label{
        font-size: 90%;
    }.item{
        inline-size: 100%;
        display: inline;
        background:  rgb(163, 202, 228);
    }
    .profileHeader{
        background: linear-gradient(to bottom, rgb(163, 202, 228), darkseagreen); //primary-light
        // margin: 2%;
        border-radius: 1%;

        .profileImage{
            display: -webkit-flex;
            height: 50%;
            width: 50%;
            padding-top: 2%;
            padding-bottom: 2%;
            margin-left: 25%;
        }.text{
            margin: 0px;
            padding: 2%;
            color: color($colors, light);
            border: 0%;
            width: 100%;
            height: 50%;
        }.button{
            display: -webkit-flex;
            margin: auto; 
            margin-top: 2%;
            margin-bottom: 2%;
        }.info{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            justify-content: right;
            color: color($colors, light);
            font-size: large;
            .info-large-text{
                font-size: 125%;
                font-weight: bold;
            }
        }.border{
            border-left: 2px solid color($colors, light);
        }
    }.page-background{
        background: color($colors, primary);
    }
    .list{
        margin: 2%;
        border-radius: 25px;
        background: rgba(0,0,0,0);
        box-shadow: none;
    }
    .listHeader{
        color: color($colors, light);
        height: 0px;
        padding: auto;
        margin: 0%;
        margin-left: 2%;
        margin-bottom: 5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 125%;
        background: color($colors, light);
    }.avatar-image{
        display: -webkit-flex;
        margin-left: auto;
        margin-right: auto;
    }
}

